<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav>
        <a href="{% url 'login' %}">Home</a>
        <a href="#">Profil</a>
        <a href="#">Grupper</a>
        <a href="#">Ny vurdering</a>
        <a href="#">Vurderinger</a>
    </nav>

</body>

</html>