.body-light {
  background-color: #F2F2F2;
  padding: 0px;
  margin: 0px;
}

.hidden {
  display: none;
}

.centered-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 300px auto;
      grid-template-columns: auto 300px auto;
}

.list-view {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  padding: 0 10% 0 10%;
}

.card {
  display: -ms-grid;
  display: grid;
  margin: 3%;
  padding: 1% 2% 1% 2%;
}

.assessment {
  display: gird;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  max-width: 500px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.icon-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 15%;
  background-color: #B98613;
  width: 50px;
  height: 50px;
}

.dot-marker {
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-left: 5px;
}

.selection {
  display: block;
  border-radius: 10px;
  width: 95%;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  padding: 5px 0;
}

.selection-thumb {
  display: -ms-grid;
  display: grid;
  border-radius: 50px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  cursor: pointer;
}

.card__date {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  background-color: #F2F2F2;
  border-radius: 0.5em;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.05em;
  width: 60px;
  height: 60px;
}

.card__smalltext {
  font-size: 0.5em;
}

.card__boldtext {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card__mediumtext {
  display: -ms-grid;
  display: grid;
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  padding-bottom: 9px;
}

.card__info-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 96% auto;
      grid-template-columns: 96% auto;
}

.icon__boldtext {
  font-weight: bold;
  font-size: 2em;
}

.assessment__settings {
  display: -ms-grid;
  display: grid;
  position: relative;
  background-color: #FFFFFF;
  margin: 10px 0px 0px 0px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: (auto)[7];
      grid-template-rows: repeat(7, auto);
  font-family: Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.assessment__item {
  margin: 5px 10px 5px 10px;
}

.assessment__title {
  font-weight: bold;
  font-size: 1.1em;
  color: #484848;
}

.assessment__submit {
  display: -ms-grid;
  display: grid;
  background-color: #B98613;
  color: #FFFFFF;
  font-size: 1.1em;
  border-radius: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 120px;
}

.assessment__label {
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 0.8em;
  color: #484848;
}

.assessment__select {
  height: 26px;
  max-width: 136px;
}

.assessment__select-label {
  padding: 2px 0 2px 10px;
}

.assessment__minimize {
  margin-top: 5px;
  display: block;
  width: 30px;
  height: 2px;
  border: solid #484848;
  border-width: 2px 0 2px;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.assessment__questions {
  display: -ms-grid;
  display: grid;
  background-color: #B98613;
}

.assessment__add-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 38px;
  padding-bottom: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  background-color: #FFFFFF;
  color: #B98613;
  font-size: 1.5em;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.assessment__add-question:after {
  content: "+";
}

.assessment__new-question {
  display: -ms-grid;
  display: grid;
}

.assessment__chose-question {
  padding: 10px;
}

.selection__item {
  padding: 5px;
  border-radius: 10px;
  margin: 0 5px;
}

.selection__item:hover {
  background-color: #B98613;
  color: #FFFFFF;
}

.selection-thumb__marker {
  display: block;
  position: relative;
  -ms-grid-column-align: right;
      justify-self: right;
  right: 10px;
  top: 6px;
  width: 8px;
  height: 8px;
  border: solid #484848;
  border-width: 0 2px 2px 0;
  rotate: 45deg;
}

.card--medium {
  min-width: 240px;
  max-width: 300px;
  min-height: 80px;
}

.card--three-columns {
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.card--two-rows {
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.card--icon-content-container {
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--white {
  background-color: #FFFFFF;
}

.card--light-gray {
  background-color: #F2F2F2;
}

.card--rounded {
  border-radius: 0.6em;
}

.card--drop-shadow {
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.card--dashed-edge {
  border-style: dashed;
  border-width: 3px;
}

.card--themed-edge {
  border-color: #B98613;
}

.card--darkgray-edge {
  border-color: #484848;
}

.card__date--bold {
  font-size: 1em;
  font-weight: bold;
}

.card__smalltext--right {
  display: -ms-grid;
  display: grid;
  justify-items: right;
}

.card__smalltext--upper {
  padding-bottom: 0;
  margin-bottom: 0;
}

.selection--raised {
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
}

.selection__item--checkmark {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% auto;
      grid-template-columns: 90% auto;
}

.selection-thumb--bordered {
  border: 2px solid #484848;
  background-color: #FFFFFF;
}

.selection--position-maximised {
  top: 332px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.selection-thumb__marker--turned {
  rotate: 225deg;
  top: 9px;
}

.assessment__label--double {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.assessment__select--large {
  height: 26px;
  width: 95%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.grid--two-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}

.dot-marker--active {
  background-color: #B98613;
  color: #B98613;
}

.dot-marker--inactive {
  background-color: #EBEBEB;
  color: #EBEBEB;
}

.text--themed {
  color: #B98613;
}

.text--darkgray {
  color: #484848;
}

.text--white {
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */