// Colors

$background-grey: #F2F2F2;
$card-white: #FFFFFF;
$shadow-black: rgba(0, 0, 0, 0.2);
$theme-color: #B98613;
$grayedout: #EBEBEB;
$text-darkGray: #484848;

// Fonts
$font-helvetica: Helvetica, Arial, sans-serif;

// ======
// Baseline
// ======



.body-light {
    background-color: $background-grey;
    padding: 0px;
    margin: 0px;
}

.hidden {
    display: none;
}

.centered-column {
    display: grid;
    grid-template-columns: auto 300px auto;
}

.list-view {
    display: grid;
    justify-items: stretch;
    padding: 0 10% 0 10%;
}



.assessment {
    display: gird;
    grid-template-rows: repeat(2, auto);
    max-width: 500px;
    align-self: center;
    justify-self: center;
}

.icon-box {
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 15%;
    background-color: $theme-color;
    width: 50px;
    height: 50px;
}

.dot-marker {
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: 5px;
}

.selection {
    display: block;
    border-radius: 10px;
    width: 95%;
    grid-column-start: span 2;
    box-shadow: 1px 2px 5px $shadow-black;
    margin-bottom: 3px;
    padding: 5px 0;
}

.selection-thumb {
    display: grid;
    border-radius: 50px;
    grid-template-columns: auto auto;
    cursor: pointer;
}

// =========
// Elements
// =========

// .card


// .icon
.icon__boldtext {
    font-weight: bold;
    font-size: 2em;
}

// .assessment
.assessment__settings {
    display: grid;
    position: relative;
    background-color: $card-white;
    margin: 10px 0px 0px 0px;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto);
    font-family: $font-helvetica;
    box-shadow: 1px 2px 5px $shadow-black;
    z-index: 10;
}

.assessment__item {
    margin: 5px 10px 5px 10px;
}

.assessment__title {
    font-weight: bold;
    font-size: 1.1em;
    color: $text-darkGray;
}

.assessment__submit {
    display: grid;
    background-color: $theme-color;
    color: $card-white;
    font-size: 1.1em;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    height: 30px;
    width: 120px;
}

.assessment__label {
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 0.8em;
    color: $text-darkGray;
}

.assessment__select {
    height: 26px;
    max-width: 136px;
}


.assessment__select-label {
    padding: 2px 0 2px 10px
}

.assessment__minimize {
    margin-top: 5px;
    display: block;
    width: 30px;
    height: 2px;
    border: solid $text-darkGray;
    border-width: 2px 0 2px;
    grid-column-start: span 2;
    justify-self: center;
}

.assessment__questions {
    display: grid;
    background-color: $theme-color;
}

.assessment__add-question {
    display: flex;
    width: 40px;
    height: 38px;
    padding-bottom: 2px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: $card-white;
    color: $theme-color;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px $shadow-black;
    cursor: pointer;
}

.assessment__add-question:after {
    content: "+";
}

.assessment__new-question {
    display: grid;
}

.assessment__chose-question {
    padding: 10px;
}

// selection

.selection__item {
    padding: 5px;
    border-radius: 10px;
    margin: 0 5px;
}

.selection__item:hover {
    background-color: $theme-color;
    color: $card-white;
}

.selection-thumb__marker {
    display: block;
    position: relative;
    justify-self: right;
    right: 10px;
    top: 6px;
    width: 8px;
    height: 8px;
    border: solid $text-darkGray;
    border-width: 0 2px 2px 0;
    rotate: 45deg;
}


// =========
// Modifiers
// =========



// selection

.selection--raised {
    position: absolute;
    z-index: 1000;
    background-color: $card-white;
}

.selection__item--checkmark {
    display: grid;
    grid-template-columns: 90% auto;
}

.selection-thumb--bordered {
    border: 2px solid $text-darkGray;
    background-color: $card-white;
}

.selection--position-maximised {
    top: 332px;
    left: 50%;
    transform: translate(-50%, 0);
}

.selection-thumb__marker--turned {
    rotate: 225deg;
    top: 9px;
}

// assessment

.assessment__label--double {
    grid-column-start: span 2;
}

.assessment__select--large {
    height: 26px;
    width: 95%;
    justify-self: center;
}

//

.grid--two-columns {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.dot-marker--active {
    background-color: $theme-color;
    color: $theme-color;
}

.dot-marker--inactive {
    background-color: $grayedout;
    color: $grayedout;
}

.text--themed {
    color: $theme-color;
}

.text--darkgray {
    color: $text-darkGray;
}

.text--white {
    color: $card-white;
}