{% extends 'base.html' %}

{% block head %}
<title>Teacher home</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<li>User: {{ user.get_username }}</li>
{% else %}
Log in to view
{% endif %}

<div>
    <a href="{% url 't_newAssessment' %}">{{ new_assessment_text }}</a>
</div>

Is there anything here?
{% for obj in object_list %}
<div class="card card--medium card--three-columns card--white card--rounded card--drop-shadow">
    <div>
        {{obj.assignment_time}}
    </div>
    <div>
        {{obj.group.name}}
    </div>
</div>
{% endfor %}
{% endblock %}