{% extends 'base.html' %}

{% block head %}
<title>Teacher home</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<li>User: {{ user.get_username }}</li>
{% else %}
Log in to view
{% endif %}

<div>
    <a href="{% url 't_newAssessment' %}">{{ new_assessment_text }}</a>
</div>

{% for assessment in assessments %}
<div class="card card--medium card--three-columns card--white card--rounded card--drop-shadow">
    <div class="card__date">
        {{ assessment.assignment_day }}
        {{ assessment.assignment_time }}
    </div>
    <div>
        {{ assessment.group }}
    </div>
</div>
{% endfor %}
{% endblock %}