{% extends 'base.html' %}

{% block head %}
<title>Teacher home</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<li>User: {{ user.get_username }}</li>
{% else %}
Log in to view
{% endif %}




<div class="list-view">
    <a style="text-decoration: none;" href="{% url 't_newAssessment' %}">
        <div class="card card--rounded card--dashed-edge card--medium card--darkgray-edge card--icon-content-container">
            <div class="icon-box icon__boldtext text--white ">+
            </div>
            <div class="card__boldtext text--darkgray">
                {{ new_assessment_text }}
            </div>
        </div>

    </a>
    {% for assessment in assessments %}
    <div class="card card--medium card--two-rows card--white card--rounded card--drop-shadow">
        <div class="card__info-bar">
            <div class="card__smalltext card__smalltext--right text--darkgray">
                {% if assessment.is_assigned %}
                Tildelt
                {% else %}
                Planlagt
                {% endif %}
            </div>
            {% if assessment.is_assigned %}
            <div class="dot-marker dot-marker--active"></div>
            {% else %}
            <div class="dot-marker dot-marker--inactive"></div>
            {% endif %}
        </div>
        <div class="card__container">
            <div class="card__date text--darkgray">
                <div>{{ assessment.assignment_day }}</div>
                <div class="card__date--bold text--darkgray">
                    {{ assessment.assignment_date }}
                </div>
                <div class="text--darkgray">{{ assessment.assignment_month }}</div>
            </div>
            <div class="card__mediumtext text--darkgray">Range</div>
            <div class="card__boldtext text--darkgray">
                {{ assessment.group }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}