{% extends 'base.html' %}

{% block content %}
<div class="selection selection--raised selection--position-maximised" style="display: none;" id="js_selectWindow">
    {% for group in groups %}
    <div class="selection__item selection__item--checkmark" id="id_{{group.name}}_item">
        <div id="id_{{group.name}}_text">{{group.name}}</div>
        <div class="checkmark" id="id_{{group.name}}_marker"></div>
    </div>
    {% endfor %}
</div>
<div class="deck">
    <div class="first section container-fluid overflow-hidden">
        <div class="row g-2">
            <div class="col p-2">
                <h2>Ny vurdering</h2>
            </div>
            <div class="col">
                <input type="button" value="Tildel" class="btn">
            </div>
        </div>
        <div class="row g-2">
            <div class="col">
                <button class="btn btn-stroked-attention">Knapp</button>
            </div>
            <div class="col">
                <button class="btn btn-dashed-regard">Knapp</button>
            </div>
        </div>
    </div>
    <div class="second section section-concentrate container-fluid">
        <div class="row g-2">
            <div class="col py-2">
                <div>
                    <button class="btn btn-chosen">Knapp</button>
                </div>
            </div>
            <div class="col py-2">
                <input type="text" class="vm-text-field">
            </div>
        </div>
    </div>
</div>


<form action="" method="post">
    {% csrf_token %}
    {{ assessment_form }}
</form>

{% endblock %}