// Baseline section

.section {
    --#{$custom-prefix}section-border-radius: #{$border-radius-primary};
    --#{$custom-prefix}section-box-shadow: #{$vm-shadow-large};
    --#{$custom-prefix}section-padding-top: 16px;
    --#{$custom-prefix}section-padding-bottom: 16px;
    --#{$custom-prefix}section-padding-sides: 8px;
    --#{$custom-prefix}section-bg: #{$white};
    --#{$custom-prefix}section-margin: 0;
    --#{$custom-prefix}section-font-family: #{$vm-font-family};

    border-radius: 0 0 var(--#{$custom-prefix}section-border-radius) var(--#{$custom-prefix}section-border-radius);
    box-shadow: var(--#{$custom-prefix}section-box-shadow);
    padding-top: var(--#{$custom-prefix}section-padding-top);
    padding-bottom: var(--#{$custom-prefix}section-padding-bottom);
    padding-left: var(--#{$custom-prefix}section-padding-sides);
    padding-right: var(--#{$custom-prefix}section-padding-sides);
    background-color: var(--#{$custom-prefix}section-bg);
    margin-top: var(--#{$custom-prefix}section-margin);
    font-family: var(--#{$custom-prefix}section-font-family);
}

// colored variants

@each $name,
$value in $vm-theme-colors {
    .section-#{$name} {
        --#{$custom-prefix}section-bg: #{get-color-variant($name, 300)};
    }
}