// Baseline button

.btn {
    // create css custom properties (variables) from variables.scss
    --#{$prefix}btn-font-family: #{$font-family-sans-serif};
    --#{$custom-prefix}btn-border-radius: #{$border-radius-primary};
    --#{$custom-prefix}btn-color: #{$white};
    --#{$custom-prefix}btn-bg: #{$btn-color};
    --#{$custom-prefix}btn-border: solid;
    --#{$custom-prefix}btn-border-width: 0;
    --#{$custom-prefix}btn-border-color: transparent;
    --#{$custom-prefix}btn-padding: 8px 16px;
    --#{$custom-prefix}btn-hover-color: #{$white};
    --#{$custom-prefix}btn-hover-bg: #{$btn-hover-color};
    --#{$custom-prefix}btn-hover-border-width: 0;
    --#{$custom-prefix}btn-hover-border-color: transparent;
    --#{$custom-prefix}btn-hover-padding: 8px 16px;
    --#{$custom-prefix}btn-hover-move: -2px;
    --#{$custom-prefix}btn-hover-box-shadow: #{$vm-shadow-small};
    --#{$custom-prefix}btn-focus-color: #{$white};
    --#{$custom-prefix}btn-focus-bg: #{$btn-focus-color};
    --#{$custom-prefix}btn-focus-border-width: 0;
    --#{$custom-prefix}btn-focus-border-color: transparent;
    --#{$custom-prefix}btn-focus-outline: #{$btn-focus-outline-color};
    --#{$custom-prefix}btn-focus-padding: 8px 16px;
    --#{$custom-prefix}btn-focus-move: -2px;
    --#{$custom-prefix}btn-focus-box-shadow: #{$vm-shadow-small};
    --#{$custom-prefix}btn-active-color: #{$white};
    --#{$custom-prefix}btn-active-bg: #{$btn-active-color};

    display: inline-block;
    padding: var(--#{$custom-prefix}btn-padding);
    font-family: var(--#{$prefix}btn-font-family);
    background-color: var(--#{$custom-prefix}btn-bg);
    border-radius: var(--#{$custom-prefix}btn-border-radius);
    color: var(--#{$custom-prefix}btn-color);
    border: var(--#{$custom-prefix}btn-border-width) var(--#{$custom-prefix}btn-border) var(--#{$custom-prefix}btn-border-color);
    transform: translateY(var(--#{$custom-prefix}Y));
    transition: transform 0.2s ease, background-color 0.1s ease, color 0.1s ease, outline 0.2s ease, box-shadow 0.2s ease;


    &:hover {
        --#{$custom-prefix}Y: var(--#{$custom-prefix}btn-hover-move);

        padding: var(--#{$custom-prefix}btn-hover-padding);
        color: var(--#{$custom-prefix}btn-hover-color);
        background-color: var(--#{$custom-prefix}btn-hover-bg);
        border: var(--#{$custom-prefix}btn-hover-border-width) var(--#{$custom-prefix}btn-border) var(--#{$custom-prefix}btn-hover-border-color);
        box-shadow: var(--#{$custom-prefix}btn-hover-box-shadow);

    }

    &:focus-visible {
        --#{$custom-prefix}Y: var(--#{$custom-prefix}btn-focus-move);

        padding: var(--#{$custom-prefix}btn-focus-padding);
        color: var(--#{$custom-prefix}btn-focus-color);
        background-color: var(--#{$custom-prefix}btn-hover-bg);
        border: var(--#{$custom-prefix}btn-focus-border-width) var(--#{$custom-prefix}btn-border) var(--#{$custom-prefix}btn-focus-border-color);
        outline: 3px solid var(--#{$custom-prefix}btn-focus-outline);
        box-shadow: var(--#{$custom-prefix}btn-focus-box-shadow);
    }

    &:active {
        --#{$custom-prefix}Y: 1px;

        padding: 8px 16px;
        color: var(--#{$custom-prefix}btn-active-color);
        background-color: var(--#{$custom-prefix}btn-active-bg);
        border: 0 solid transparent;
    }
}

// Colored variants

@each $color,
$value in $vm-theme-colors {
    .btn-#{$color} {
        --#{$custom-prefix}btn-color: #{$white};
        --#{$custom-prefix}btn-bg: #{$value};
        --#{$custom-prefix}btn-border: solid;
        --#{$custom-prefix}btn-border-width: 0;
        --#{$custom-prefix}btn-border-color: transparent;
        --#{$custom-prefix}btn-padding: 8px 16px;
        --#{$custom-prefix}btn-hover-color: #{$white};
        --#{$custom-prefix}btn-hover-bg: #{get-color-variant($color, 600)};
        --#{$custom-prefix}btn-hover-border: solid;
        --#{$custom-prefix}btn-hover-border-width: 0;
        --#{$custom-prefix}btn-hover-border-color: transparent;
        --#{$custom-prefix}btn-hover-padding: 8px 16px;
        --#{$custom-prefix}btn-focus-color: #{$white};
        --#{$custom-prefix}btn-focus-bg: #{get-color-variant($color, 600)};
        --#{$custom-prefix}btn-focus-border: solid;
        --#{$custom-prefix}btn-focus-border-width: 0;
        --#{$custom-prefix}btn-focus-border-color: transparent;
        --#{$custom-prefix}btn-focus-padding: 8px 16px;
        --#{$custom-prefix}btn-focus-outline: #{get-color-variant($color, 100)};
        --#{$custom-prefix}btn-active-color: #{$white};
        --#{$custom-prefix}btn-active-bg: #{get-color-variant($color, 700)};

    }
}

// Stroked variants

@each $color,
$value in $vm-theme-colors {
    .btn-stroked-#{$color} {
        --#{$custom-prefix}btn-color: #{$value};
        --#{$custom-prefix}btn-bg: transparent;
        --#{$custom-prefix}btn-border: solid;
        --#{$custom-prefix}btn-border-width: 1px;
        --#{$custom-prefix}btn-border-color: #{$value};
        --#{$custom-prefix}btn-padding: 7px 15px;
        --#{$custom-prefix}btn-hover-color: #{$white};
        --#{$custom-prefix}btn-hover-bg: #{$value};
        --#{$custom-prefix}btn-hover-border: solid;
        --#{$custom-prefix}btn-hover-border-width: 2px;
        --#{$custom-prefix}btn-hover-border-color: #{$value};
        --#{$custom-prefix}btn-hover-padding: 6px 14px;
        --#{$custom-prefix}btn-focus-color: #{$white};
        --#{$custom-prefix}btn-focus-bg: #{get-color-variant($color, 100)};
        --#{$custom-prefix}btn-focus-border: solid;
        --#{$custom-prefix}btn-focus-border-width: 2px;
        --#{$custom-prefix}btn-focus-border-color: #{$value};
        --#{$custom-prefix}btn-focus-padding: 6px 14px;
        --#{$custom-prefix}btn-focus-outline: #{get-color-variant($color, 100)};
        --#{$custom-prefix}btn-active-color: #{$white};
        --#{$custom-prefix}btn-active-bg: #{get-color-variant($color, 600)};

    }
}

// Dashed variants

@each $color,
$value in $vm-theme-colors {
    .btn-dashed-#{$color} {
        --#{$custom-prefix}btn-color: #{$value};
        --#{$custom-prefix}btn-bg: transparent;
        --#{$custom-prefix}btn-border: dashed;
        --#{$custom-prefix}btn-border-width: 1px;
        --#{$custom-prefix}btn-border-color: #{$value};
        --#{$custom-prefix}btn-padding: 7px 15px;
        --#{$custom-prefix}btn-hover-color: #{$value};
        --#{$custom-prefix}btn-hover-bg: #{$white};
        --#{$custom-prefix}btn-hover-border: dashed;
        --#{$custom-prefix}btn-hover-border-width: 2px;
        --#{$custom-prefix}btn-hover-border-color: #{$value};
        --#{$custom-prefix}btn-hover-padding: 6px 14px;
        --#{$custom-prefix}btn-focus-color: #{$value};
        --#{$custom-prefix}btn-focus-bg: #{get-color-variant($color, 100)};
        --#{$custom-prefix}btn-focus-border: dashed;
        --#{$custom-prefix}btn-focus-border-width: 2px;
        --#{$custom-prefix}btn-focus-border-color: #{$value};
        --#{$custom-prefix}btn-focus-padding: 6px 14px;
        --#{$custom-prefix}btn-focus-outline: #{get-color-variant($color, 100)};
        --#{$custom-prefix}btn-active-color: #{$white};
        --#{$custom-prefix}btn-active-bg: #{$value};
    }
}