// card

.card {
    // create custom properties from variables.scss
    --#{$custom-prefix}card-border-radius: #{$border-radius-primary};
    --#{$custom-prefix}card-bg-color: #{$white};
    --#{$custom-prefix}card-box-shadow: #{$vm-shadow-small};
    --#{$custom-prefix}card-hover-box-shadow: #{$vm-shadow-large};
    --#{$custom-prefix}card-padding: 8px 16px;
    --#{$custom-prefix}card-margin: 16px 8px;

    border-radius: var(--#{$custom-prefix}card-border-radius);
    background-color: var(--#{$custom-prefix}card-bg-color);
    box-shadow: var(--#{$custom-prefix}card-box-shadow);
    padding: var(--#{$custom-prefix}card-padding);
    margin: var(--#{$custom-prefix}card-margin);


    &:hover {
        box-shadow: var(--#{$custom-prefix}card-hover-box-shadow);
    }

    &--no-margin {
        margin: 0;
    }

    &--small {
        --#{$custom-prefix}card-border-radius: #{$border-radius-secondary};
    }

}